In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('book.csv')

In [3]:
df.drop(columns=['user_id','rating','publisher','no of ratings'],inplace=True)

In [4]:
df=df.iloc[:,1:]

In [5]:
df

,ISBN,title,author,Year-Of-Publication,image
0,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
1,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
2,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
3,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
4,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
...,...,...,...,...,...
59845,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...
59846,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...
59847,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...
59848,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...
59849,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...

In [6]:
import pickle

In [7]:
model=pickle.load(open('model.pkl','rb'))

In [8]:
pt=pickle.load(open('pt.pkl','rb'))

In [10]:
pt

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df.shape

(59850, 5)

In [12]:
pt.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=742)

In [16]:
def func(prompt):
    index=np.where

True

In [18]:
import numpy as np

In [22]:
index=np.where(pt.index=='1984')[0][0]

In [23]:
d,s=model.kneighbors(pt.iloc[index,:].values.reshape(1,-1),n_neighbors=6)

In [24]:
s

array([[  0, 372,   8, 212, 320,  33]], dtype=int64)

In [33]:
t=[]
for i in range(1,len(s[0])):
    print(pt.index[i])
    t.append(pt.index[i])

1st to Die: A Novel
2nd Chance
4 Blondes
84 Charing Cross Road
A Bend in the Road

In [34]:
t

['1st to Die: A Novel',
 '2nd Chance',
 '4 Blondes',
 '84 Charing Cross Road',
 'A Bend in the Road']

In [35]:
df.head()

,ISBN,title,author,Year-Of-Publication,image
0,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
1,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
2,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
3,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
4,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...

In [38]:
df

,ISBN,title,author,Year-Of-Publication,image
0,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
1,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
2,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
3,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
4,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
...,...,...,...,...,...
59845,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...
59846,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...
59847,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...
59848,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...
59849,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...

In [41]:
df.drop_duplicates(['title','author','Year-Of-Publication'],inplace=True)

In [61]:
df.loc[df['title']==pd.Series(t,name='title')[0]]

,ISBN,title,author,Year-Of-Publication,image
43106,0446610038,1st to Die: A Novel,James Patterson,2002,http://images.amazon.com/images/P/0446610038.0...
43233,0316666009,1st to Die: A Novel,James Patterson,2001,http://images.amazon.com/images/P/0316666009.0...

In [62]:
d=pd.DataFrame(columns=df.columns)

In [63]:
d

Empty DataFrame
Columns: [ISBN, title, author, Year-Of-Publication, image]
Index: []

In [80]:
for i in t:
    row=df.loc[df['title']==i]
    d=pd.concat([d,row],ignore_index=True,axis=0,)

In [82]:
d.drop_duplicates(['title'],inplace=True)

In [83]:
d

,ISBN,title,author,Year-Of-Publication,image
0,0446610038,1st to Die: A Novel,James Patterson,2002,http://images.amazon.com/images/P/0446610038.0...
2,0446612790,2nd Chance,James Patterson,2003,http://images.amazon.com/images/P/0446612790.0...
5,0451203895,4 Blondes,Candace Bushnell,2002,http://images.amazon.com/images/P/0451203895.0...
6,0140143505,84 Charing Cross Road,Helene Hanff,1990,http://images.amazon.com/images/P/0140143505.0...
9,0446527785,A Bend in the Road,Nicholas Sparks,2001,http://images.amazon.com/images/P/0446527785.0...

In [126]:

def get(promt):
    index=np.where(pt.index==promt)
    d,s=model.kneighbors(pt.iloc[index[0][0],:].values.reshape(1,-1),n_neighbors=6)
    n=pd.DataFrame(columns=df.columns)
    m=[]
    for i in range(1,len(s[0])):
        # print(pt.index[s[0][i]])
        m.append(pt.index[s[0][i]])    
    for i in m:
        row=df.loc[df['title']==i]
        n=pd.concat([n,row],ignore_index=True)
    n.drop_duplicates(['title'],inplace=True)
    return n

In [127]:
new=get('A Bend in the Road')

In [128]:
new

,ISBN,title,author,Year-Of-Publication,image
0,0446604232,Exclusive,Sandra Brown,1997,http://images.amazon.com/images/P/0446604232.0...
2,0440115450,The Cradle Will Fall,Mary Higgins Clark,1983,http://images.amazon.com/images/P/0440115450.0...
4,0345404777,No Safe Place,RICHARD NORTH PATTERSON,1999,http://images.amazon.com/images/P/0345404777.0...
7,0440124344,Family Album,Danielle Steel,1989,http://images.amazon.com/images/P/0440124344.0...
10,0140092323,Lake Wobegon days,Garrison Keillor,1986,http://images.amazon.com/images/P/0140092323.0...

In [132]:
new['image'][0]

'http://images.amazon.com/images/P/0446604232.01.MZZZZZZZ.jpg'

In [137]:
df.reset_index(inplace=True)

In [139]:
df=df.iloc[:,1:]

In [140]:
df

,ISBN,title,author,Year-Of-Publication,image
0,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,http://images.amazon.com/images/P/002542730X.0...
1,0060930535,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,http://images.amazon.com/images/P/0060930535.0...
2,0060934417,Bel Canto: A Novel,Ann Patchett,2002,http://images.amazon.com/images/P/0060934417.0...
3,0061009059,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,http://images.amazon.com/images/P/0061009059.0...
4,006440188X,The Secret Garden,Frances Hodgson Burnett,1998,http://images.amazon.com/images/P/006440188X.0...
...,...,...,...,...,...
1857,0752837680,Still Waters,Tami Hoag,2000,http://images.amazon.com/images/P/0752837680.0...
1858,0743439651,Still Waters,Jennifer Lauck,2001,http://images.amazon.com/images/P/0743439651.0...
1859,0061090956,Still Waters,Kerry Tucker,1992,http://images.amazon.com/images/P/0061090956.0...
1860,0613224450,Still Waters,Tami Hoag,1992,http://images.amazon.com/images/P/0613224450.0...
1861,0553579983,And Then You Die,Iris Johansen,1998,http://images.amazon.com/images/P/0553579983.0...

In [141]:
df.to_csv("books.csv",index=False)